<%- include("include/header") -%>

<body class="container py-5">
    <div class="row">
        <div class="d-flex align-items-center justify-content-between  mb-4">
            <h1 class="text-center mb-0">Fruits List</h1>
            <a href="/newfruit" class="btn btn-lg btn-primary">Add Fruit</a>
        </div>
        
        <% fruits.forEach((fruit) => { %>
            <div class="col-lg-4">
                <div class="shadow-lg rounded p-4 mb-4">
                    <h1>Name: <%= fruit.name %></h1>
                    <h3>Value: <%= fruit.value %></h3>
                    <p>Review: <%= fruit.review %></p>
                    <form action="/" method="post">
                    <button class="btn btn-danger" name="removeBtn" value="<%= fruit._id.toString() %>">Remove</button>
                    <a class="btn btn-success" name="editBtn" href="/newfruit/<%= fruit._id.toString() %>">Edit</a>
                    <br>
                    <br>
                    <input type="checkbox" name="checkFruit" value="<%= fruit._id.toString() %>">
                </div>
            </div>
            <% }) %>
            <div class="d-flex">
                <button class="btn btn-lg btn-danger" type="submit">Delete Selected</button>
            </div>
        </div>
    </form>
</body>

<%- include("include/footer") -%>